@model IEnumerable<EcWebApp.Models.ClienteInfo>

@{
    ViewBag.Title = "Clientes";
    ViewBag.SubTitle = "Listagem";

    string filtro = ((bool)ViewBag.Filtro ? "" : "checked");
}

@section header {
    <link href="~/Content/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Create")" class="btn btn-info btn-flat"><i class="glyphicon glyphicon-user"></i> Novo Cliente</a>
        <button type="button" class="btn btn-info btn-flat" data-toggle="modal" data-target="#mdlExportar"><i class="glyphicon glyphicon-file"></i> Exportar</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <table id="tblClientes" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Contato
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Interesse)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ValorEstimadoProjeto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdVendedor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataUltimoContato)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.NomeCliente, "Edit", new { id = item.IdCliente })
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.EmailCliente))
                                    {
                                        @Html.DisplayFor(modelItem => item.EmailCliente)
                                        <br />
                                    }
                                    @item.Telefone01.Replace("_", "")
                                    @if (!string.IsNullOrEmpty(item.Telefone02))
                                    {
                                        <br />@item.Telefone02.Replace("_", "")
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Interesse)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorEstimadoProjeto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StatusAtendimento.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vendedor.NomeUsuario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataUltimoContato)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <div class="form-group">
                    <input type="checkbox" class="square" id="chkFiltro" @filtro />
                    <label class="control-label">Listar clientes sem interesse</label>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="form-horizontal" method="post" action="@Url.Action("Exportar")">
    <div id="mdlExportar" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Exportar</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Data do Cadastro:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="DataCadastroDe" name="DataCadastroDe">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="DataCadastroAte" name="DataCadastroAte">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Vendedor:</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("IdVendedor", null, "TODOS", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Interesse:</label>
                        <div class="col-sm-8">
                            <select id="Interesse" name="Interesse" class="form-control">
                                <option>TODOS</option>
                                <option value="1">Orçamento</option>
                                <option value="2">Negociação</option>
                                <option value="3">Fechamento</option>
                                <option value="9">Sem Interesse</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Status de Atendimento:</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("IdStatusAtendimento", null, "TODOS", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Status da Planta:</label>
                        <div class="col-sm-8">
                            <select id="StatusPlanta" name="StatusPlanta" class="form-control">
                                <option>TODOS</option>
                                <option value="0">Desenvolver</option>
                                <option value="1">Em Desenvolvimento</option>
                                <option value="2">Aguardando Aprovação</option>
                                <option value="3">Em Revisão</option>
                                <option value="4">Finalizada</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Procedência:</label>
                        <div class="col-sm-8">
                            <select id="IdProcedencia" name="IdProcedencia" class="form-control">
                                <option>TODOS</option>
                                <option value="1">Porta</option>
                                <option value="2">Captação</option>
                                <option value="3">ProCompra</option>
                                <option value="4">Internet</option>
                                <option value="5">Indicação</option>
                                <option value="9">Outros</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" id="btnExportar">Exportar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <!-- page script -->
    <script>
        $(function () {
            $('#tblClientes').DataTable({
                "responsive": true,
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

            $("#DataCadastroDe").datetimepicker({
                locale: 'pt-BR',
                format: 'L'
            });

            $("#DataCadastroAte").datetimepicker({
                locale: 'pt-BR',
                format: 'L'
            });

            $("#chkFiltro").click(function () {
                if (this.checked) {
                    window.location.href = '@Url.Action("Index","Clientes", new { filtro = "false"})';
                } else {
                    window.location.href = '@Url.Action("Index","Clientes")';
                }
            });

        });
    </script>
}