@model IEnumerable<EcWebApp.Models.ClienteInfo>

@{
    ViewBag.Title = "Clientes Agendados";
    ViewBag.SubTitle = "Listagem";
}

@section header {
    <link href="~/Content/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <i class="fa fa-exclamation-circle text-red" title="Atenção"></i>
        <span>Nessa listagem constam apenas clientes com o interesse de orçamentos.</span>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <table id="tblAgenda" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Contato
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ValorEstimadoProjeto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdVendedor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataUltimoContato)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataProximoContato)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeCliente)
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.EmailCliente))
                                    {
                                        @Html.DisplayFor(modelItem => item.EmailCliente)
                                        <br />
                                    }
                                    @Html.DisplayFor(modelItem => item.Telefone01)
                                    @if (!string.IsNullOrEmpty(item.Telefone02))
                                    {
                                        <br />@Html.DisplayFor(modelItem => item.Telefone02)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorEstimadoProjeto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vendedor.NomeUsuario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StatusAtendimento.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataUltimoContato)
                                </td>
                                <td>
                                    @if (item.DataProximoContato.HasValue && (item.DataProximoContato.Value < DateTime.Today))
                                    {
                                        <span class="text-red">@Html.DisplayFor(modelItem => item.DataProximoContato)</span>
                                        <i class="fa fa-exclamation-triangle text-red" title="Atrasado"></i>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.DataProximoContato)
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Registrar Contato", "Create", new { idCliente = item.IdCliente }, new { @class = "btn btn-info btn-sm" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <!-- page script -->
    <script>
        $(function () {

            $('#tblAgenda').DataTable({
                "responsive": true,
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        });
    </script>
}