@model EcWebApp.Models.CategoriaLancamentoInfo

@{
    ViewBag.Title = "Status de Atendimento";
    ViewBag.SubTitle = "Exclusão";
    bool ExisteLancamento = ViewBag.ExisteLancamento;
}

@section header {
    <link rel="stylesheet" href="~/Content/iCheck/square/blue.css" />
}

<div class="box">
    <div class="box-header">
        @if (ExisteLancamento)
        {
            <h4 class="text-danger">Esse item não pode ser excluído, pois existem lançamentos com essa categoria. Deseja inativa-la ??</h4>
        }
        else
        {
            <h4 class="text-danger">Deseja excluir esse registro ??</h4>
        }
    </div>
    <div class="box-body">
        <div class="form">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    </div>
                </div>
                <div class="col-md-6">
                    <span></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoLancamento, htmlAttributes: new { @class = "control-label" })
                        @Html.EnumDropDownListFor(model => model.TipoLancamento, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-6">
                    <span></span>
                </div>
            </div>

            <div class="form-group">
                @Html.EditorFor(model => model.Ativo, new { htmlAttributes = new { @class = "square", @disabled = "disabled" } })
                &nbsp;
                @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label" })
            </div>
        </div> <!-- form -->
    </div><!-- box-body -->
    <div class="box-footer">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @if (ExisteLancamento)
                {
                    @Html.ActionLink("Desativar", "DesactiveConfirmed", new { id = Model.IdCategoria }, new { @class = "btn btn-warning" })
                }
                else
                {
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                }
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>

@section scripts {
    <!-- page script -->
    <script>
        $(function () {
            $('input[type="checkbox"].square').iCheck({ checkboxClass: 'icheckbox_square-blue' });
        });
    </script>
}