@model IEnumerable<EcWebApp.Models.PedidoInfo>

@{
    ViewBag.Title = "Pedidos";
    ViewBag.SubTitle = "Listagem";
}

@section header {
    <link href="~/Content/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <table id="tblPedidos" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NumeroPedido)
                            </th>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Vendedor
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataPedido)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PrazoEntrega)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StatusPedido)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ValorOrcamento)
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.NumeroPedido, "Edit", new { id = item.IdPedido })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cliente.NomeCliente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vendedor.NomeUsuario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataPedido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrazoEntrega)
                                </td>
                                <td class="text-center">
                                    @if (item.StatusPedido == EcWebApp.Models.EnumStatusPedido.Aberto)
                                    {
                                        <span class="label label-warning">EM ABERTO</span>
                                    }
                                    else if (item.StatusPedido == EcWebApp.Models.EnumStatusPedido.Fechado)
                                    {
                                        <span class="label label-success">FECHADO</span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">CANCELADO</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorOrcamento)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <!-- page script -->
    <script>
        $(function () {
            $('#tblPedidos').DataTable({
                "responsive": true,
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "order": [[0, "desc"]],
                "info": true,
                "autoWidth": false,
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        });
    </script>
}
