@model EcWebApp.ViewModels.PrintPedidoInfo
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Espaço Criação | Pedido # @Model.Pedido.NumeroPedido</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/ionicons.min.css" />
    <!-- Theme style -->
    <link href="~/Content/impressao.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-2">
                    <img src="~/images/logo-preto-g.png" width="180" alt="Espaço Criacao" />
                </div>
                <div class="col-xs-8">
                    <h2 class="text-center">
                        Pedido de Compra
                    </h2>
                </div>
                <div class="col-xs-2">
                    <h2>@Model.Pedido.NumeroPedido</h2>
                </div>
            </div>
            <!-- /title row -->
            <!-- info row -->
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="9">
                                    <small>Responsável pela Venda</small><br />
                                    @Html.DisplayFor(model => model.Pedido.Vendedor.NomeUsuario)
                                </td>
                                <td colspan="3">
                                    <small>Data do Contrato</small><br />
                                    @Html.DisplayFor(model => model.Pedido.DataPedido)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9">
                                    <small>Cliente</small><br />
                                    @Html.DisplayFor(model => model.Pedido.Cliente.NomeCliente)
                                </td>
                                <td colspan="3">
                                    <small>Tipo do Contrato</small><br />
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <small>CPF / CNPJ</small><br />
                                    @Html.DisplayFor(model => model.Pedido.Cliente.CPFCNPJ)
                                </td>
                                <td colspan="4">
                                    <small>RG / Inscrição Estadual</small><br />
                                    @Html.DisplayFor(model => model.Pedido.Cliente.Documento)
                                </td>
                                <td colspan="4">
                                    <small>Data de Nascimento</small><br />
                                    @if (Model.Pedido.Cliente.DataNascimento.HasValue)
                                    {
                                        @Model.Pedido.Cliente.DataNascimento.Value.ToShortDateString()
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <small>Endereço</small><br />
                                    @Html.DisplayFor(model => model.Entrega.Endereco)
                                </td>
                                <td colspan="4">
                                    <small>Complemento</small><br />
                                    @Html.DisplayFor(model => model.Entrega.Complemento)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <small>Bairro</small><br />
                                    @Html.DisplayFor(model => model.Entrega.Bairro)
                                </td>
                                <td colspan="4">
                                    <small>Cidade</small><br />
                                    @Html.DisplayFor(model => model.Entrega.Cidade)
                                </td>
                                <td colspan="1">
                                    <small>UF</small><br />
                                    @Html.DisplayFor(model => model.Entrega.Estado)
                                </td>
                                <td colspan="3">
                                    <small>CEP</small><br />
                                    @Html.DisplayFor(model => model.Entrega.CEP)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <small>Telefone</small><br />
                                    @Html.DisplayFor(model => model.Pedido.Cliente.Telefone01)
                                    @if (!string.IsNullOrEmpty(Model.Pedido.Cliente.Telefone02))
                                    {
                                        <span>&nbsp;/&nbsp;</span>
                                        @Html.DisplayFor(model => model.Pedido.Cliente.Telefone02)
                                    }
                                </td>
                                <td colspan="4">
                                    <small>Profissão</small><br />
                                    @Html.DisplayFor(model => model.Pedido.Cliente.Profissao)
                                </td>
                                <td colspan="4">
                                    <small>Email</small><br />
                                    @Html.DisplayFor(model => model.Pedido.Cliente.EmailCliente)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.info row -->
            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Qtde</th>
                                <th>Ambiente</th>
                                <th>Modelo</th>
                                <th>Espessura</th>
                                <th>Corpo</th>
                                <th>Portas</th>
                                <th>Puxadores</th>
                                <th>Tamponamentos</th>
                                <th>Prazo</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var modelItem in Model.Ambientes)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => modelItem.Item)</td>
                                    <td>@Html.DisplayFor(model => modelItem.Qtde)</td>
                                    <td>@Html.DisplayFor(model => modelItem.Descricao)</td>
                                    <td>@Html.DisplayFor(model => modelItem.Modelo)</td>
                                    <td>@Html.DisplayFor(model => modelItem.Espessura)</td>
                                    <td>@Html.DisplayFor(model => modelItem.Corpo)</td>
                                    <td>@Html.DisplayFor(model => modelItem.Portas)</td>
                                    <td>@Html.DisplayFor(model => modelItem.Puxador)</td>
                                    <td>@Html.DisplayFor(model => modelItem.Complemento)</td>
                                    <td>@Html.DisplayFor(model => modelItem.Prazo)</td>
                                    <td class="text-right">@Html.DisplayFor(model => modelItem.Valor)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Total a Prazo</th>
                                <th>Condição de Pagamento</th>
                                <th>Forma de Pagamento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Pedido.ValorPrazo</td>
                                <td>@Model.Pedido.CondicaoPagamento.ToString()</td>
                                <td>@Model.Pedido.FormaPagamento.Descricao</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
</body>
</html>      