@model IEnumerable<EcWebApp.ViewModels.RelatorioDesempenhoInfo>

<div class="box box-info">
    <div class="box-body">
        <table id="tblClientes" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th rowspan="2">DATA</th>
                    <th rowspan="2" style="text-align:center">ATENDIMENTOS</th>
                    <th rowspan="2" style="text-align:center">PROCOMPRA</th>
                    <th rowspan="2" style="text-align:center">PORTA</th>
                    <th rowspan="2" style="text-align:center">OUTROS</th>
                    <th colspan="2" style="text-align: center">APRESENTAÇÕES</th>
                    <th colspan="2" style="text-align: center">PEDIDOS FECHADOS</th>
                    <th colspan="2" style="text-align: center">ORÇAM. PERDIDOS</th>
                </tr>
                <tr>
                    <th style="text-align: center">QTDE</th>
                    <th style="text-align: center">VALOR</th>
                    <th style="text-align: center">QTDE</th>
                    <th style="text-align: center">VALOR</th>
                    <th style="text-align: center">QTDE</th>
                    <th style="text-align: right">VALOR</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.LinhaTotal == false)
                    {
                        if (!item.DiaUtil)
                        {
                            <tr class="warning">
                                <td>@item.Data.ToShortDateString()</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    @if (item.Formato == "D")
                                    {
                                        <span>@item.Data.ToShortDateString()</span>
                                    }
                                    else
                                    {
                                        <span>@item.Data.ToString("MM/yyyy")</span>
                                    }
                                </td>
                                <td style="text-align: right">@item.Atendimentos</td>
                                <td style="text-align: right">@item.QtdProcompra</td>
                                <td style="text-align: right">@item.QtdPorta</td>
                                <td style="text-align: right">@item.QtdOutros</td>
                                <td style="text-align: right">@item.QtdApresentacoes</td>
                                <td style="text-align: right">@item.ValorApresentacoes.Value.ToString("C")</td>
                                <td style="text-align: right">@item.QtdPedidos</td>
                                <td style="text-align: right">@item.ValorPedidos.Value.ToString("C")</td>
                                <td style="text-align: right">@item.QtdPerdidos</td>
                                <td style="text-align: right">@item.ValorPerdidos.Value.ToString("C")</td>
                            </tr>
                        }
                    }
                }
            </tbody>
            <tfoot>
                @foreach (var item in Model)
                {
                    if (item.LinhaTotal)
                    {
                        <tr class="info">
                            <th>TOTAL</th>
                            <th style="text-align: right">@item.Atendimentos</th>
                            <th style="text-align: right">@item.QtdProcompra</th>
                            <th style="text-align: right">@item.QtdPorta</th>
                            <th style="text-align: right">@item.QtdOutros</th>
                            <th style="text-align: right">@item.QtdApresentacoes</th>
                            <th style="text-align: right">@item.ValorApresentacoes.Value.ToString("C")</th>
                            <th style="text-align: right">@item.QtdPedidos</th>
                            <th style="text-align: right">@item.ValorPedidos.Value.ToString("C")</th>
                            <th style="text-align: right">@item.QtdPerdidos</th>
                            <th style="text-align: right">@item.ValorPerdidos.Value.ToString("C")</th>
                        </tr>
                    }
                }
            </tfoot>
        </table>
    </div>
</div>