@model IEnumerable<EcWebApp.Models.LancamentoInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Conta.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.NomeUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoLancamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataProcessamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataLancamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Conta.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.NomeUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoLancamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataProcessamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Processado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataLancamento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdLancamento }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdLancamento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdLancamento })
        </td>
    </tr>
}

</table>
